
#stimArea {
    height: 30%;
    margin-top: 0%;
    margin-bottom: 10%;
    font-family: Aharoni;
    font-size: 4em;
    color: darkmagenta;
    text-align: center;
}

#btnArea {
    position: fixed;
    top: 40%;
    height: 0%;
    width: 100%;
    text-align: center;
}
